* {
    margin: 0%;
    padding: 0%;
}

.div1{
    background: green;
}

.div2{
    background:blue;
}

.div3{
    background:red;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 60% 60%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "div1 div2 div3"
    "div1 div2 div3"
    "div1 div2 div3";
}

.div1 {
    grid-area: div1;
}

.div2 {
    grid-area: div2;
}

.div3 {
    grid-area: div3;
}
